<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
<h1>Product List</h1>

<!--<button type="button" th:onclick="'javascript:window.location.href='/products/add''">추가</button>-->
<!--<button type="button" th:onclick="'javascript:window.location.href=' + @{/joinUs.jsp}">추가</button>-->

<button th:onclick="'location.href=\''+ @{/products/add} + '\''">추가</button>




<!-- 카테고리별로 루프 돌기 -->
<div th:each="entry : ${productsByCtg}">
    <h2 th:text="${entry.key}"></h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th colspan="3">기타</th>
    </tr>
    </thead>
    <tbody>
    <!-- 상품 목록을 동적으로 출력 -->
    <tr th:each="product : ${entry.value}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <!--<td><a th:href="@{/products/{id}/edit(id=${product.id})}">수정</a></td>-->
        <!--<td><a th:href="@{/products/__${product.id}__/edit}">수정</a></td>-->
        <td><button type="button" th:onclick="'javascript:editProduct(' + ${product.id} + ')'" >수정</button></td>

        <td><button type="button" th:onclick="delete([[${product.id}]])">삭제</button></td>
        <td><button type="button" th:onclick="order([[${product.id}]])">구매</button></td>
    </tr>
    </tbody>
</table>

</div>

<script>
    function editProduct(productId) {
        var redirectUrl = '/products/' + productId + '/edit';
        window.location.href = redirectUrl;
    }
</script>


<!--<form id="SendPayForm_id" charset="UTF-8" method="POST" action="https://stdpay.inicis.com/payMain/pay" accept-charset="UTF-8" target="iframe_c93efc9b4d2f4">-->
<!--    <input type="hidden" name="version" value="1.0">-->
<!--    <input type="hidden" name="mid" value="fsecorkr00">-->
<!--    <input type="hidden" name="goodname" value="세대별로 알아보는 온라인 커뮤니티 이용 행태">-->
<!--    <input type="hidden" name="oid" value="FSI1699246300041">-->
<!--    <input type="hidden" name="price" value="100000">-->
<!--    <input type="hidden" name="currency" value="WON">-->
<!--    <input type="hidden" name="buyername" value="박정관">-->
<!--    <input type="hidden" name="buyertel" value="010-9981-9798">-->
<!--    <input type="hidden" name="buyeremail" value="jkpark">-->
<!--    <input type="hidden" name="timestamp" value="1699246300041">-->
<!--    <input type="hidden" name="signature" value="175f727b24a97b8a2ed450024ffd4b662e1f202983a7d4e64069b36a614133c4">-->
<!--    <input type="hidden" name="returnUrl" value="https://www.findatamall.or.kr/fsec/epay/INIStdPayReturn.do?cmnx=44">-->
<!--    <input type="hidden" name="mKey" value="d027dca01b4904d791b721a4a9a6e14aff071baeb768a25070d6eedf462d13c6">-->
<!--    <input type="hidden" name="gopaymethod" value="Card:DirectBank:VBank">-->
<!--    <input type="hidden" name="acceptmethod" value="CARDPOINT:HPP(2):va_receipt:below1000:SKIN():KWPY_TYPE(0):KWPY_VAT(0)">-->
<!--    <input type="hidden" name="languageView" value=" ">-->
<!--    <input type="hidden" name="charset" value="UTF-8">-->
<!--    <input type="hidden" name="payViewType" value="overlay">-->
<!--    <input type="hidden" name="closeUrl" value="https://www.findatamall.or.kr/fsec/epay/close.do?cmnx=44">-->
<!--    <input type="hidden" name="popupUrl" value="https://www.findatamall.or.kr/fsec/epay/popup.do?cmnx=44">-->
<!--    <input type="hidden" name="quotabase" value="2:3:4:5:6:11:12:24:36">-->
<!--    <input type="hidden" name="ini_onlycardcode" value=" ">-->
<!--    <input type="hidden" name="ini_cardcode" value=" ">-->
<!--    <input type="hidden" name="ansim_quota" value=" ">-->
<!--    <input type="hidden" name="INIregno" value=" ">-->
<!--    <input type="hidden" name="merchantData" value="epayGoodsId:4873fb0d-7702-11ee-bf4b-f220ef21bb88||epayRtnUrl:/fsec/dataProd/buyProdDone.do?cmnx=44||epayPriceType:2||epayPurchaseId:null||epayUseInfoIdx:16598||epayOwnerId:19443||ssMemberIdx:231100048||ss_usr_memberId:jkpark||provideWay:null||buyerCompIdx:null||subscribeIdx:null||subscribeCnt:null">-->
<!--    <input id="requestByJs" name="requestByJs" type="hidden" value="true">-->
<!--</form>-->





</body>
</html>
